{:lein   {:profile "cljs"}
 :nrepl  {:port 9000}
 :builds {:main {:target     :browser
                 :output-dir "resources/public/js/main"
                 :asset-path "/js/main"

                 :modules    {:app {:entries [security-demo.client]}}

                 :devtools   {:after-load security-demo.client/start
                              :preloads   [fulcro.inspect.preload security-demo.development-preload]}}}}
